.elevator-button {
  background-color: transparent;
  /*border: 2px solid;*/
  border-radius: 25px;
  box-shadow: 0px 0px 10px 4px grey
  /*opacity: 0.8;*/
  /*position: absolute;*/
}

.elevator-footer {
  /*background: transparent;*/
  position: fixed;
  height: 30px;
  bottom: 0px;
  /*left: 0px;*/
  right: 100px;
}

.moving {
  background-color: yellow;
}
